# **Van Ngo, Priyanka Ravuru, Robert Yav**

## In-Class Problem Sets

This Google Collab ipynb is shared between you and me. If you enter code or text and save your work, I am able to see your work in real time. We will be using this shared notebook to work on in-class programming exercises in Math 167PS. If I haven't already done so, please cut and paste the new problems we're working on **on the top** of this worksheet (to minimize scrolling). Tell me out loud on zoom if you would like me to look at your code or if you got stuck and need a hint.

## In-Class Problem Set 3

**Problem:** Given a dictionary that contains names of people as keys and their ages (in integer format) as values, find the name (or names) as a list of the second oldest person (or persons if there is a tie). 

Examples: 
{"Adam': 12, 'Betsy': 11, 'Charles': 13, 'David': 15, 'Emma': 13, 'Fred': 15} Should result in ['Charles', 'Emma'] since Charles and Emma a tied in age and the second-oldest in this group. Note, that the oldest or second oldest age may appear more than once. 

{'Luke': 19, 'Boba': 32, 'Leia': 19, 'Anakin': 42, 'Yoda': 896} should result in ['Anakin']

In [ ]:
d1 = {'Adam': 15, 'Betsy': 11, 'Charles': 13, 'David': 15, 'Emma': 13, 'Fred': 15}
d2 = {'Luke': 19, 'Boba': 32, 'Leia': 19, 'Anakin': 42, 'Yoda': 896}

In [ ]:
#priya
d1 = {'Adam': 15, 'Betsy': 11, 'Charles': 13, 'David': 15, 'Emma': 13, 'Fred': 15}
d2 = {'Luke': 19, 'Boba': 32, 'Leia': 19, 'Anakin': 42, 'Yoda': 896}

def sort2(d):
  s= (sorted(set(d.values()),reverse=True))
  return [i for i in d.keys() if d.get(i)==s[1]]

sort2(d1)
sort2(d2)

['Anakin']

In [ ]:
#Robert
namedic=d1
help(dictionary)

NameError: ignored

In [ ]:
#van
d1 = {'Adam': 15, 'Betsy': 11, 'Charles': 13, 'David': 15, 'Emma': 13, 'Fred': 15}
d2 = {'Luke': 19, 'Boba': 32, 'Leia': 19, 'Anakin': 42, 'Yoda': 896}
v = sorted(set(d2.values()), reverse = True)[1]
output=[]
for key,value in d2.items():
  if value == v:
    output.append(key)
  else:
    pass
print(output)

['Anakin']

**Problem:** Write dictionary comprehension code to make all kids in d1 one year older.

**Hint:** In Python, there is dictionary comprehension, which is very similar to list comprehension. There are three different variants of dictionary comprehension. You can work with just keys, just values or with key-value pairs (i.e., items). Basic syntac can look like this: 

```{(expression in key and or value) for (key,value) in dictonary.items() if Boolean}```

```{(expression in key) for key in dictionary.keys() if Boolean}```

```{(expression in values) for values in dictionary.values() if Boolean}```

You can also work with the keys or values of a dictionary using list comprehension using very similar syntax to the one above but with ```[]``` instead of ```{}```.

## In-Class Problem Set 2

**Problem 1:** Write a function called `same()` that takes as its input a string of arbitrary length and returns a boolean that evaluates to `True` if the first and last character in the string are the same. 

**Example:** same("alpha") = True, same("beta") = False.

In [ ]:
def same():
    """Are the first and last character in the string the same?"""
    
    
# Test your code by uncommenting the lines below
# print(same("alpha"))
# print(same("beta"))

In [ ]:
#priya
def same(x):
  return(x[0]==x[-1])
  
print(same("alpha"))
print(same("beta"))

True
False

**Problem 2:** Write a function `remove_duplicates()` that removes duplicates from a list but keeps the items in the original order. 

**Example:** `remove_duplicates([4,23,5,6,13,23,5,7]) = [4,23,5,6,13,7]` and `remove_duplicates([4,4,4,2,7]) = [4,2,7]`

In [ ]:
def remove_duplicates():
    """ remove duplicates from list while keeping entries in original order"""
    
# Test your code by uncommenting the lines below - both should evaluate to "True"
# print(remove_duplicates([4,23,5,6,13,23,5,7]) == [4,23,5,6,13,7])
# print(remove_duplicates([4,4,4,2,7]) == [4,2,7])

In [ ]:
#priya
def remove_duplicates(x):
  new=[]
  [new.append(c) for c in x if c not in new]
  return(new)
remove_duplicates([4,23,5,6,13,23,5,7])
remove_duplicates([4,4,4,2,7])

[4, 2, 7]

## In-Class Problem Set 1 (02/07/2022)

For one of the problems below, you might want to use an if/else statement. Please note that the basic syntax 
of an if-else statement in Python is:

```
if (Boolean statement):
    code 1
else:
    code 2
```

**Problem:** December 2nd, 2021 was a palindromic date day. Consider 12/02/2021. If you remove the slashes, then the date reads the same forward as backward. Suppose you ask a user to enter a date (in the form xx/xx/xxxx). Write code to check whether it's a palindromic date and return an appropriate statement (such as "your date is a palindrome!")

**Note:** Your code does not need to check, whether the entered string is a legitimate date. 13/45/5431, for instance, is not a legitimate date, but it is a palindrome.

In [ ]:
x=input("Enter a date in the form xx/xx/xxxx")
palindrome=x.replace("/","")[::1]
#print(palindrome)
reverse=palindrome[::-1]
#print(reverse)
if (palindrome==reverse):
  print("your date is a palindrome!")
else:
  print("your date is not a palindrome!")

  # Bremer comment: Looking good!

Enter a date in the form xx/xx/xxxx12/02/2021
your date is a palindrome!

In [ ]:
#priya: 
date=input("Enter a date in the form xx/xx/xxxx:")
x=date.replace("/","")
y=x[::-1]
if(x==y):
  print("your date is a palindrome")
else:
  print("Your date is not a palindrome!")

Enter a date in the form xx/xx/xxxx:12/21/2021
Your date is not a palindrome!

In [ ]:
date=input("Enter a date in the form xx/xx/xxxx : ")
x=date.replace("/","")
y=str(x)
if y[::-1] == y:
  print("Your date is a palindrome")
else:
  print("Your date is not a palindrome")

Enter a date in the form xx/xx/xxxx : 12/34/5678
Your date is not a palindrome

**Problem:**  Recall, that python can be used to find the symmetric difference of two sets A and B as `A^B`. 

Define in words (or using a sketch) what you understand the symmetric difference of three sets A,B,C to be. Then, write Python code to find the symmetric difference between three given sets. Make up some sets and test out your code. Do you get the answer you think you should get?

As you saw in class, there is Python syntax to find the union and intersection of two sets as well as code for finding the symmetric difference. Why is there no direct syntax to find the complement $(A^{\prime}$) of a set? Explain.

**Problem:** What's the most efficient way you can think of to create a list in which each of r elements is repeated r times in a row (in Python base - without using any packages). 

Example: r=3 [1,1,1,2,2,2,3,3,3]